body {
    margin: 5%;
    background: #f1f1f1;
    font-size: 20px;
    line-height: 22px;
    color: #404040;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
button {
    background: lightseagreen;
    color: #fff;
    padding: 4px 12px;
    margin: 0 0 0 4px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;
    vertical-align: bottom;
}
.btnSubmit:hover {
    background: #59a4d5;
}
#btnClearCompleted:hover {
    background: darkred;
}
#btnClearList:hover {
    background: red;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#secondaryButtons {
    max-width: 350px;
    min-height: 150px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}