#taskList {
    display: flex;
    flex-flow: column nowrap;
    visibility: hidden;
    /*padding: 0;*/
}

#container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#secondaryButtons {
    max-width: 350px;
    min-height: 150px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}

#inputTask {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}