#btnClearCompleted:hover, .btnDelete:hover {
    background: darkred;
}

#btnClearList:hover {
    background: red;
}

.btnSubmit:hover {
    background: #59a4d5;
}

.btnEdit:hover {
    background: #cb7539;
}

.taskText.active {
    background: rgba(111, 218, 96, 0.76);
}

#selectTypeTask::part(button) {
    color: white;
    background-color: #f00;
    padding: 5px;
    border-radius: 5px;
}

#selectTypeTask::part(listbox) {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid red;
    border-radius: 5px;
}